.footer{
   display: grid;
   grid-template-columns: auto 28.68%;
   background: linear-gradient(#3d3d3d96, #cccccc, #cccccc, #cccccc, #cccccc, #cccccc, #cccccc, #cccccc, #cccccc, #cccccc);
   /* background-image: linear-gradient(175deg, rgba(255, 20, 20, 0.849) 20%, #60da4a 15%),linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%); */
   
   padding-top: 78px;
   padding-bottom: 68px;
   padding-left: 63px;
   padding-right: 68px;
}
.sub-footer:first-of-type{
   display: grid;
   grid-template-rows: 22px 22px;
   row-gap: 34px;
   font-size: 18px;
}
.sub-footer:first-of-type > :last-of-type{
   color: #8C8E8D;
}
.sub-footer:last-of-type{
   padding-top: 21px;
   padding-left: 105px;
}